@model StageDetailViewModel
@{
    ViewData["Title"] = "Project Detail";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    int i = 1;
}
<div class='border container' style='padding:30px;'>
    <div class="col-12 row">
        <h1 class="text-info flex-grow-1">Stage detail</h1>
        <div>
            <a asp-action="AddTask" asp-controller="Stage" asp-route-id="@Model.Id" class="btn btn-info">Add
                Task</a>
        </div>
    </div>
    <div class='form-group row'>
        <div class="col-sm-12">
            @if (TempData.ContainsKey("stMessage"))
            {
                <p class="text-success">@TempData["stMessage"]</p>
            }
            else if (TempData.ContainsKey("errorStMessage"))
            {
                <p class="text-danger">@TempData["errorStMessage"]</p>
            }
        </div>
        <div class='col-2'>
            <label asp-for="@Model.StageName" class="font-weight-bold"></label>
        </div>
        <div class='col-6'>
            <h2 class='form-control'>@Model.StageName</h2>
        </div>
    </div>
    <div class='form-group row'>
        <div class='col-2'>
            <label asp-for="@Model.Duration" class="font-weight-bold"></label>
        </div>
        <div class='col-6'>
            <h2 class='form-control'>@Model.Duration</h2>
        </div>
    </div>
    <div class="col-12 border p-3 mt-3">
        <h2 class=text-info>Project Teams</h2>
        @if (Model.StageTasks.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>No.</th>
                    <th>
                        <label>Task Name</label>
                    </th>
                    <th>
                        <label>Starting Date</label>
                    </th>
                    <th>
                        <label>Due Date</label>
                    </th>
                    <th>
                        <label>Action</label>
                    </th>
                </tr>

                @foreach (var item in Model.StageTasks)
                {
                    <tr>
                        <td>
                            @i
                            @{
                                i++;
                            }
                        </td>
                        <td>
                            <a asp-action="Task" asp-controller="Project" asp-route-id="@item.TId">@item.TaskName</a>
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            <form asp-action="RemoveTask" asp-controller="Project" asp-route-id="@item.Id">
                                <label><i class="fa fa-remove text-danger"></i><button type="submit"
                                onclick="return confirm('Are you sure you want to remove?')" class="no-btn"></button>
                            </form>
                        </td>
                    </tr>

                }
            </table>
        }
        else
        {
            <p>No task found.</p>
        }
    </div>
    <div class='form-group row'>
        <div class='col-2.5'>
            <a asp-action="Index" asp-controller="Project" class='btn btn-success'>Back
                to
                List</a>
        </div>
    </div>

</div>
