@model List<AssignPrivilegeViewModel>
@{
    ViewData["Title"] = "Assign Privilege";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div class="container row p-0 m-0" style='padding:30px;'>
    <div class="col-9">
        <h2 class="text-info">Assign Privilege</h2>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form asp-action="AssignPrivilege" asp-controller="Role" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th></th>
                        <th>
                            <label>Description</label>
                            
                        </th>
                    </tr>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <input type="hidden" asp-for="@Model[i].RId">
                            <input type="hidden" asp-for="@Model[i].PrId">
                            <td>
                                <input type="checkbox" asp-for="@Model[i].CheckboxAnswer">
                            </td>
                            <td>
                                @Model[i].Description
                                <input type="hidden" asp-for="@Model[i].Description">
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No privilege found.</p>
            }
            <div class='form-group row'>
                <div class='col-2.5'>
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </div>
        </form>
    </div>
</div>
